.bodycon {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: 'Bahnschrift';
}

/* @media all and (max-width: 1200px) and (min-width: 800px) {
    .desc {
        font-size: 1rem;
    }

    .nameText {
        font-size: 3vh;
    }
} */
  
.nameText {
    text-transform: capitalize;
    font-size: 3.14vh;
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.desc {
    text-transform: capitalize;
    color: red;
    position: relative;
    top: 52%
}

.desc {
    font-size: 1.5vh;
}