.header {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.socials {
    opacity: 1;
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0%;
}

.githubBtn {
    background: transparent;
    background-color: black;
    border-color: black;
    border-style: solid;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.instagramBtn {
    background: transparent;
    background-color: black;
    border-color: black;
    border-style: solid;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.linkedinBtn {
    background: transparent;
    background-color: black;
    border-color: black;
    border-style: solid;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.actualLinkedinBtn {
    width: 30px;
    height: 30px;
}

.actualGithubBtn {
    width: 30px;
    height: 30px;
}

.actualInstagramBtn {
    width: 30px;
    height: 30px;
}

.navBar {
    background: transparent;
    background-color: black;
    font-family: 'Bahnschrift';
    font-size: 16px;
}

.Portfolio {
    background: black;
    border-style: hidden;
    border-color: white;
    text-align: left;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    text-transform: capitalize;
    transition: ease white 250ms;
    border-radius: 5px;
    font-family: Bahnschrift;
    font-size: 16px;
}

.Investigates {
    background: black;
    border-style: hidden;
    border-color: white;
    text-align: left;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    text-transform: capitalize;
    transition: ease white 250ms;
    border-radius: 5px;
    font-family: Bahnschrift;
    font-size: 16px;
}

.Placeholder {
    background: black;
    border-style: hidden;
    border-color: white;
    text-align: left;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    text-transform: capitalize;
    transition: ease white 250ms;
    border-radius: 5px;
    font-family: Bahnschrift;
    font-size: 16px;
}

.SecondPlaceholder {
    background: black;
    border-style: hidden;
    border-color: white;
    text-align: left;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    text-transform: capitalize;
    transition: ease white 250ms;
    border-radius: 5px;
    font-family: Bahnschrift;
    font-size: 16px;
}

.Portfolio:hover {
    /*//text-decoration: underline;*/
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

.Investigates:hover {
    /*//text-decoration: underline;*/
    text-decoration: underline;
    text-decoration-thickness: from-font;
}
