.placeholderCon {
    width: 100vw;
    height: 90.55vh;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    font-family: 'Bahnschrift', ui-monospace;
}

.placeholderText {
    text-transform: capitalize;
    font-size: 3.776vw;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}