.copyrightCon {
    width: 100vw;
    height: 90.550vh;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    font-family: 'Bahnschrift', ui-monospace;
}

.copyrightText {
    color: black;
    position: relative;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}
